In [11]:
import pandas as pd
import os
import json
import requests

In [102]:
target_url = "https://raw.githubusercontent.com/iancoleman/cia_world_factbook_api/master/data/factbook.json"

cia = requests.get(target_url).json()

In [85]:
#cia['countries'].keys()

In [2]:
#cia['countries']['world']['data']['people']['literacy']['total_population']['value']

In [1]:
#cia['countries']["australia"]['data']['people']['hospital_bed_density']['beds_per_1000_population']

In [168]:
literacy = {}

for country in cia['countries'].keys():
    try:
        literacy[cia['countries'][country]['data']['name']] = cia['countries'][country]['data']['people']['literacy']['total_population']['value']
    except Exception as ex:
        literacy[cia['countries'][country]['data']['name']] = ''

#literacy_df = pd.DataFrame(literacy.items(), columns={'Country','Literacy Rate'})
literacy_df = pd.DataFrame(literacy.items(), columns={'Country',"Literacy_Rate"})
literacy_df.set_index = ('Country')
literacy_df

            Country Literacy_Rate
0             World          86.2
1       Afghanistan          38.2
2          Akrotiri
3           Albania          97.6
4           Algeria          80.2
..              ...           ...
254  Western Sahara
255           Yemen          70.1
256          Zambia          63.4
257        Zimbabwe          86.5
258  European Union

[259 rows x 2 columns]

In [171]:
literacy_df.to_csv('literacy_rate.csv', index=False)

OSError: [Errno 22] Invalid argument: 'Hospital_beds\x08eds_density.csv'